.App {
  display: flex;
  padding: 0px 1%;
  flex-direction: column;
}

.App-header {
  display: flex;
  padding: 1% 1%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clientes, .info, .bateria, .energia {
  background-color: darkcyan;
  flex: 1;
  padding: 1% 1%;
  margin: 1% 1%;
  border: 1px solid #4E3D42;
}
