.Esp32 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #4e3d42;
  margin-bottom: 1em;
  align-items: center;
}

.esp32_info {
  display: flex;
  font-size: 0.8em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dimerizavel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}